<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLinqSqlDB.Properties.Settings.DNHOSPITALConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DNHOSPITAL;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DOCPYT2ConnectionString"
            connectionString="Data Source=ZLATAN;Initial Catalog=DOCPYT2;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DOCUMENTNWMConnectionString"
            connectionString="Data Source=devpt;Initial Catalog=DOCUMENTNWM;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.SPKSTOCKConnectionString"
            connectionString="Data Source=192.168.1.4;Initial Catalog=SPKSTOCK;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.ReferConnectionString"
            connectionString="Data Source=DEVNB-57;Initial Catalog=Refer;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.CCC_HISFRONTConnectionString"
            connectionString="Data Source=192.168.1.4;Initial Catalog=CCC_HISFRONT;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DNHOSPITALConnectionString2"
            connectionString="Data Source=DEVNB-57;Initial Catalog=DNHOSPITAL;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DEFALUTConnectionString"
            connectionString="Data Source=ZLATAN;Initial Catalog=DEFALUT;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.TrainfrontConnectionString"
            connectionString="Data Source=devpt;Initial Catalog=Trainfront;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DOCUMENTPCVConnectionString"
            connectionString="Data Source=DEVPT;Initial Catalog=DOCUMENTPCV;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DEFALUTConnectionString1"
            connectionString="Data Source=DEVNB-57;Initial Catalog=DEFALUT;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.TrainfrontConnectionString1"
            connectionString="Data Source=DEVNB-57\;Initial Catalog=Trainfront;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.MKWDOCUMENTConnectionString"
            connectionString="Data Source=192.168.1.8;Initial Catalog=MKWDOCUMENT;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.MKWDOCUMENTConnectionString1"
            connectionString="Data Source=192.168.1.8;Initial Catalog=MKWDOCUMENT;User ID=sa;Password=123456*x"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.TrainfrontConnectionString2"
            connectionString="Data Source=devpt;Initial Catalog=Trainfront;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.PIHHRMSConnectionString"
            connectionString="Data Source=192.168.1.4;Initial Catalog=PIHHRMS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.ReferConnectionString1"
            connectionString="Data Source=DEVNB-57;Initial Catalog=Refer;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DEVCCCConnectionString"
            connectionString="Data Source=CCC-DBS03\CCC_INT03;Initial Catalog=DEVCCC;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.SSBLIVEConnectionString"
            connectionString="Data Source=DEVNB-57;Initial Catalog=SSBLIVE;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.CCCDNHOSPITALConnectionString"
            connectionString="Data Source=DEVNB-57;Initial Catalog=CCCDNHOSPITAL;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DNHOSPITALConnectionString1"
            connectionString="Data Source=CCC-DBS01\CCC_INT01;Initial Catalog=DNHOSPITAL;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DOCUMENTPYTSConnectionString"
            connectionString="Data Source=DEVPT;Initial Catalog=DOCUMENTPYTS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.TrainbackConnectionString"
            connectionString="Data Source=devpt;Initial Catalog=Trainback;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DOCCLOUDConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DOCCLOUD;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DEVMASTERPIECEConnectionString"
            connectionString="Data Source=203.154.55.88;Initial Catalog=DEVMASTERPIECE;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DOCCLOUDConnectionString1"
            connectionString="Data Source=DEVNB-57;Initial Catalog=DOCCLOUD;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DOCPCVConnectionString"
            connectionString="Data Source=203.154.55.194;Initial Catalog=DOCPCV;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.SSBLIVETESTConnectionString"
            connectionString="Data Source=203.154.55.194;Initial Catalog=SSBLIVETEST;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.cHIS_FrameworkConnectionString"
            connectionString="Data Source=192.168.102.41\CCC_INT01;Initial Catalog=cHIS_Framework;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DATADEMOConnectionString"
            connectionString="Data Source=203.154.55.194;Initial Catalog=DATADEMO;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.CCCDNHOSPITALConnectionString1"
            connectionString="Data Source=DEVNB-57;Initial Catalog=CCCDNHOSPITAL;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DOCSPKConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DOCSPK;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.NWMSTOCKConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=NWMSTOCK;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.PCVConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=PCV;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.HISDEVDATAConnectionString"
            connectionString="Data Source=203.154.55.194;Initial Catalog=HISDEVDATA;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.NAMARAKConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=NAMARAK;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DOCUMENTPCVConnectionString1"
            connectionString="Data Source=DEVPT;Initial Catalog=DOCUMENTPCV;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.BMCConnectionString"
            connectionString="Data Source=192.168.1.8;Initial Catalog=BMC;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.NAMARAKConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=NAMARAK;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DOCLOCALMOBILEConnectionString"
            connectionString="Data Source=203.154.55.194;Initial Catalog=DOCLOCALMOBILE;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DOCLOCALMOBILEConnectionString1"
            connectionString="Data Source=203.154.55.194;Initial Catalog=DOCLOCALMOBILE;User ID=sa;Password=Dev123456"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DEVHISConnectionString"
            connectionString="Data Source=203.154.55.194;Initial Catalog=DEVHIS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClassLinqSqlDB.Properties.Settings.DEVNMRConnectionString"
            connectionString="Data Source=203.154.55.194;Initial Catalog=DEVNMR;Persist Security Info=True;User ID=sa;Password=Dev123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>