<?xml version="1.0"?>
<configuration> 
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
 
  <system.web>
    <compilation targetFramework="4.5" debug="true"/> 
    <httpRuntime maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" executionTimeout="14400"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" maxReceivedMessageSize="2147000000"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <services>
      <service name="APIRestService.RESTService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="APIRestService.IRestService" behaviorConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="webHttpBinding" closeTimeout="01:50:00" openTimeout="01:50:00"
          receiveTimeout="01:50:00" sendTimeout="01:50:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding> 
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
     
    <directoryBrowse enabled="true"/> 
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type,Accept"/>
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
      
    <add key="SITE" value="MASTERSITE" />
    <add key="DxDBServerName" value="43.229.134.133\SQLEXPRESS,49170" />
    <add key="DxDBName" value="RESTAURANT" />
    <add key="DxDBUser" value="sa" />
    <add key="DxDBPassword" value="P!@#456" />
    <add key="HISServiceType" value="HIS64" />
    <add key="MAIL_SMTP_HOST" value="smtp.gmail.com" />
    <add key="MAIL_SMTP_PORT" value="587" />
    <add key="MAIL_SMTP_EMAIL" value="d2d.autobot@gmail.com" />
    <add key="MAIL_SMTP_PASSWORD" value="D2d@1681" />
    <add key="MAIL_PROTOCAL" value="POP3" />
    <add key="LINE_NOTI" value="n1DL02myEKAWKu3ICN9Qr9JHsf0bKgwlmCtwOZosSdu" />


  </appSettings>
</configuration>